SERVER=localhost
PORT=5432
USERNAME=user
PASSWORD=password
DATABASE=db
CDM_SCHEMA=cdm
VOCAB_FILE_DIR=vocab
DELETE_TABLES=True
CREATE_TABLES=False
CA_FILE_PATH=./certs/server.crt
CERT_FILE_PATH=./certs/client.crt
CERT_FILE_KEY=./certs/client.key
SSL_MODE=verify-full